In [2]:
import sqlite3
con = sqlite3.connect('Movies_DataBase.db')

In [7]:
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE MOVIES1
               (Movie_Name text, Lead_Actor text, Lead_Actress text, Directore_Name text, YOR text)''')

In [8]:
# Inserting rows of data
cur.execute("INSERT INTO MOVIES1 VALUES ('Mimi','Pankaj Tripathi','Kriti Sanon', 'Laxman Utekar', '2021')")
cur.execute("INSERT INTO MOVIES1 VALUES('Shershah','Siddharth Malhotra', 'Kiara Advani', 'Vishnuwardhan', '2021')")
cur.execute("INSERT INTO MOVIES1 VALUES('Angrezi Medium','Irrfan Khan', 'Radhika Madan', 'Homi Adajania', '2020')")
cur.execute("INSERT INTO MOVIES1 VALUES('Kaagaz','Pankaj Tripathi', 'Monal Gajjar', 'Sathish Kaushik', '2021')")
cur.execute("INSERT INTO MOVIES1 VALUES('Tune in for Love','Jung Hae-in','Kim Go-eun','Jung Ji-woo','2019')")


# Save (commit) the changes
con.commit()

In [11]:
for row in cur.execute('SELECT * FROM MOVIES1'):
        print(row)

('Mimi', 'Pankaj Tripathi', 'Kriti Sanon', 'Laxman Utekar', '2021')
('Shershah', 'Siddharth Malhotra', 'Kiara Advani', 'Vishnuwardhan', '2021')
('Angrezi Medium', 'Irrfan Khan', 'Radhika Madan', 'Homi Adajania', '2020')
('Kaagaz', 'Pankaj Tripathi', 'Monal Gajjar', 'Sathish Kaushik', '2021')
('Tune in for Love', 'Jung Hae-in', 'Kim Go-eun', 'Jung Ji-woo', '2019')

In [12]:
cur.execute("SELECT Movie_Name FROM MOVIES1 WHERE Lead_Actor = 'Pankaj Tripathi'")
print(cur.fetchall())

[('Mimi',), ('Kaagaz',)]