In [2]:
import sqlite3
con = sqlite3.connect('Movies_DataBase.db')

In [3]:
cur = con.cursor()

# Create table
cur.execute('''CREATE TABLE MOVIES
               (Movie_Name text, Lead_Actor text, Lead_Actress text, Directore_Name text, YOR text)''')

OperationalError: table MOVIES already exists

In [4]:
# Inserting rows of data
cur.execute("INSERT INTO MOVIES VALUES ('Mimi','Pankaj Tripathi','Kriti Sanon', 'Laxman Utekar', '2021')")
cur.execute("INSERT INTO MOVIES VALUES('Shershah','Siddharth Malhotra', 'Kiara Advani', 'Vishnuwardhan', '2021')")
cur.execute("INSERT INTO MOVIES VALUES('Angrezi Medium','Irrfan Khan', 'Radhika Madan', 'Homi Adajania', '2020')")
cur.execute("INSERT INTO MOVIES VALUES('Kaagaz','Panka Tripathi', 'Monal Gajjar', 'Sathish Kaushik', '2021')")
cur.execute("INSERT INTO MOVIES VALUES('Tune in for Love','Jung Hae-in','Kim Go-eun','Jung Ji-woo','2019')")


# Save (commit) the changes
con.commit()

In [5]:
for row in cur.execute('SELECT * FROM MOVIES'):
        print(row)

('Mimi', 'Pankaj Tripathi', 'Kriti Sanon', 'Laxman Utekar', '2021')
('Shershah', 'Siddharth Malhotra', 'Kiara Advani', 'Vishnuwardhan', '2021')
('Angrezi Medium', 'Irrfan Khan', 'Radhika Madan', 'Homi Adajania', '2020')
('Kaagaz', 'Pankaj Tripathi', 'Monal Gajjar', 'Sathish Kaushik', '2021')
('Tune in for Love', 'Jung Hae-in', 'Kim Go-eun', 'Jung Ji-woo', '2019')
('Mimi', 'Pankaj Tripathi', 'Kriti Sanon', 'Laxman Utekar', '2021')
('Shershah', 'Siddharth Malhotra', 'Kiara Advani', 'Vishnuwardhan', '2021')
('Angrezi Medium', 'Irrfan Khan', 'Radhika Madan', 'Homi Adajania', '2020')
('Kaagaz', 'Panka Tripathi', 'Monal Gajjar', 'Sathish Kaushik', '2021')
('Tune in for Love', 'Jung Hae-in', 'Kim Go-eun', 'Jung Ji-woo', '2019')

In [6]:
cur.execute("SELECT Movie_Name FROM MOVIES WHERE Lead_Actor = 'Pankaj Tripathi'")
print(cur.fetchall())

[('Mimi',), ('Kaagaz',), ('Mimi',)]